*{
     margin: 0;
     padding: 0; 
     border: 0; 
     box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.accordion__container{
    width: 100%;
    height: 100%;
    
    position: relative;
}

.accordion__card{
    width: 330px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    max-height: null;
}

.accordion__img{
 position: absolute;
 top: -100px;
 left: 20px;

}
.accordion__img--background{
    display: none;
}
.accordion__img--desktop{
    display: none;
}
.accordion__img--box{
    display: none;
}

.accordion__img::after{
    content: url(images/bg-pattern-mobile.svg);
    position: relative;
    top: -85px;
    left: 30px;
    z-index: 100;

}

.accordion__content{
    width: 90%;
    max-height: 500px;
    position: absolute;
    padding: 1em;
    left: 50%;
    top: 55%;
    -webkit-transform : translate(-50%, -50%);
    transform: translate(-50%, -50%);

    overflow: auto;
}

.accordion__title{
   
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1.5em;
   
}
.accordion__title h1{
   font-family: 'Kumbh Sans';
   font-weight: 700;
}
.accordion__block{
    border-bottom: 1px solid hsl(240, 5%, 91%);

}
.accordion__question{

  
    color: hsl(240, 6%, 50%);
    background-color: transparent;
    font-family: 'Kumbh Sans';
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: 0.4s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2em 0 ;
    
}


.accordion__answer{
    color:  hsl(237, 12%, 33%);
    font-family: 'Kumbh Sans';
    font-size: 12px;
    font-weight: 400;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    transition: max-height 0.2s ease-out;

}






/*  desktop*/


@media(min-width: 1440px ){
    .accordion__container{
        width: 100%;
        max-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .accordion__card{
       
        width:  70%;
        height: 70%;
        position: relative;
        left: auto;
        top: auto;
        transform: none;
        background-color: white;
        border-radius: 30px;
        display: flex;

    }
    .accordion__img--box{
        position: absolute;



    }
    .accordion__img{

        grid-area: left;
        position: relative !important;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        
    }

    .accordion__img--desktop{
        width: auto;
        height: 76%;
        display: unset;
        top: 30px;
        left: -100px;
        position: absolute;
        
    }

    .accordion__img--background{
       display: unset;
        position: absolute;
        bottom: -115px; 
        right: 90px;
    }

    .accordion__img--box{
        width: auto;
        height: 38%;
        display: unset;
        position: absolute;
        top:36%;
        left:-40px;
        padding: 0;
        margin: 0;
        -ms-transform: translate(-35%, -3%);
        transform: translate(-35%, -3%);
        z-index: 3;
        overflow: unset;

    }
    .accordion__img::after{
        display: none;
    
    }

    .accordion__img--mobile{
        display: none;
    }
    .accordion__content{

        grid-area: right;
        width: 100%;
        height: 100%;
        position: unset;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        overflow: scroll;
        display: flex;
        align-items: center;
    }

    .accordion__wrapper{
        width: 70%;
    }
    .accordion__title{
       
        text-align: left;
        padding-top: 3em;
        padding-bottom: 1.5em;
    
       
    }
    .accordion__title h1{
       font-family: 'Kumbh Sans';
       font-weight: 700;
    }
    .accordion__block{
        border-bottom: 1px solid hsl(240, 5%, 91%);
       
    
    }
    .accordion__question:hover{
        color: red;
        font-weight: 700;
    }
    .accordion__question{
    
      
        color: hsl(240, 6%, 50%);
        background-color: transparent;
        font-family: 'Kumbh Sans';
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-align: left;
        outline: none;
        transition: 0.4s;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1em 0 ;
        
    }
    

    .accordion__answer{
        color:  hsl(237, 12%, 33%);
        font-family: 'Kumbh Sans';
        font-size: 12px;
        font-weight: 400;
        width: 90%;
        max-height: 0;
        overflow: hidden;
        margin-bottom: 1em;
        transition: max-height 0.2s ease-out;
    
    }
    

}